<h2>Visitor information</h2>
<p>This is a new line</p>

<meta http-equiv="refresh" content="10" /meta>

<p>eth0 Info: <!--#exec cmd="ifconfig eth0" --> </p>
<p>Container start time: <!--#exec cmd="stat --format=%x /proc/1/cmdline" --></p>
<p>Visitor IP address: <!--#echo var="REMOTE_ADDR" --></p>
<p>Visitor User agent: <!--#echo var="HTTP_USER_AGENT" --></p>

<h2>Server information</h2>

<p>Server local time: <!--#echo var="DATE_LOCAL" --></p>
<p>Server time (GMT): <!--#echo var="DATE_GMT" --></p>

<h2>Fortune of the day</h2>

<pre>
<!--#exec cmd="/usr/local/bin/motivate --no-colors" -->
</pre>
